$color_text: #ffffff;
$color_main: #39393a;
$color_link_main: #E9D758;
$color_link_secondary:  #297373;
$color_main_secondary: #c26303;
$color_border_primary: #E6E6E6;
$color_name: rgb(134, 3, 3);
$color_surname: black;

.my-theme {
	color: $color_text;
   .link {
	    color: $color_link_main;
		&:visited {
			color: $color_link_secondary;
		}
	}

	main {
		background-color: $color_main;
	}

	header {
		background-color: $color_main_secondary;
	}

	.name {
		color: $color_name;
	}

	.surname {
		color: $color_surname;
	}
}