:root {
    /* sizes */
    --border-width: 2px;
    --space-main: 20px;
       
    --font-family-base: Arial, Helvetica, sans-serif;
}

.main-theme {
    /* colors */
    --color-main: #FFFFFF;
    --color-main-secondary: #86A3B4;
    --color-table-main: rgb(226, 233, 238);
    --color-table-header: #86A3B4;
    --color-error: #841019;
    --color-border-primary: black;
    --color-border-table: #466e85;
    --color-name: white;
    --color-surname: #1C2E8C;
}

header {
    width: 27%;
    height: 100%;
    background-color: var(--color-main-secondary);
    padding: var(--space-main);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    margin-left: 30%;
    padding: var(--space-main);
    background-color: var(--color-main);
}


img {
    width: 25vw;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 25%;
    border: var(--border-width) solid var(--color-border-primary);
    padding: calc(var(--space-main) / 2);
    display: block;
}

table {
    min-width: 100%;
    border: var(--border-width) solid var(--color-border-table);
    border-collapse: collapse;
    background-color:  var(--color-table-main);
}

th, td {
    border: 1px solid var(--color-border-table);
}


.theader {
    background-color: var(--color-table-header);
}

ul {
    list-style-type: square;
    column-count: 2;
}

.position {
    font-weight: bold;
    float: left;
}

.name {
    color: var(--color-name);
    font-style: normal;
    float: left;
}

.surname {
    color: var(--color-surname);
}

.border {
    border: var(--border-width) solid var(--color-border-primary);
    border-width: 0 0 2px 0;
}

thead {
    text-transform: uppercase;
}


.link {
    color: #1C2E8C;
}

.link:hover {
    text-decoration: none;
}

.link:visited {
    color: #005;
}

p {
    margin-bottom: 30px;
}