body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    flex-direction: row;
}

header {
    flex: 25%;
    padding: 20px;
}

main {
    flex: 75%;
    padding: 20px;
}


img {
    width: 25vw;
    height: 50vh;
    object-fit: cover;
    object-position: 100% 25%;
    border: 2px solid orange;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    min-width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    background-color:  rgb(255, 221, 163);
}

th, td {
    border: 1px solid;
}


.theader {
    background-color: orange;
}

.border {
    border: 2px solid orange;
    border-width: 0 0 2px 0;
}

.borderul {
    column-count: 2;
    border: 2px solid orange;
    border-width: 0 0 2px 0;
}

.position {
    font-weight: bold;
}

.name {
    font-style: italic;
    float: left;
}

thead {
    text-transform: uppercase;
}

.link {
    color: #00f;
}

.link:hover {
    text-decoration: none;
}

.link:visited {
    color: #005;
}

.items {
    list-style-type: square;
}
