.my-theme {
    /* colors */
    --color-main: white;
    --color-main-secondary: rgb(238, 227, 189);
    --color-border-primary: orange;
    --color-name: rgb(168, 3, 3);
    --color-surname: black;
}   